body {
    background-image: url("img/cat.gif");
    background-size: 100%;
}

p.sub {
    font-size: 15pt;
}

.column {
    float: left;
    width: 30%;
}

.newdiv {
    clear: both;
}

p.redact {
    color: red;
    font-size: 14pt;
    width: 25%;
}

